{% block qba_bit_modal_process_logger2_widget %}
    <link rel="stylesheet" href="{{ asset('bundles/qbabitcore/forms/progress_modal/modal_progress.css') }}">

    <div id="dialog_refresh_server_divProgress">


    </div>

    <script>
        // var progress_control = ;
        function progressLog(message, current,max,id,showPercent)
        {

            var s= "";
            if(showPercent=="true")
                s = (Math.round(current*100/max,2)+"% "+message + " - "+Math.round(current,2)+" de "+max);
            else
                s = message;

            var text = "<p id='"+id+"' >"+ s  +"<p/>";
            var l = $(".ui-dialog #dialog_refresh_server_divProgress #"+id);
            var html =$(".ui-dialog #dialog_refresh_server_divProgress").html();

            if(l.length==0)
            html+=text;
            else html= html.replace(l[0].outerHTML,text);
            $(".ui-dialog #dialog_refresh_server_divProgress").html(html.toString().replace("<p></p>","") );
           $('#'+id).scrollTop( $('.ui-dialog #dialog_refresh_server_divProgress')[0].scrollHeight);

        }

    </script>

{% endblock %}